.app-home {
    /* display: flex; */
    /* width: 100%; */
    /* height: 100vh; */
    background-color: #52BC81;
}

.showcase {
    padding: 0 3vh 3vh 3vh;
}

.recentShowcase {
    height: 20%;
    width: 100%;
    background-color: blue;
}