@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Global 
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;  
}

html, body {
  height: 100%;
}

.button {
  cursor: pointer;
}

/* Local 
*/

.app-root {
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainHeader {
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  background: #5851ff;
  color: white;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: sticky;
  top: 0;
}

.headerTitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

.headerSearch {
  height: 70%;
  flex: 1;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
}

.navInput {
  height: 100%;
  flex: 2;
  border: none;
  -webkit-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
} .navInput::placeholder {
  padding-left: 5px;
}

.inputButton {
  background-color: white;
  padding: 5px;
  border-left: 1px grey solid;
  /*-webkit-border-radius: 0 10px 10px 0;*/
          /*border-radius: 0 10px 10px 0;*/
}

.accountToggle {
  width: 30px;
  height: 30px;
  background-color: lightgreen;
  margin-left: 10px;

}

.menuToggle {
  width: 30px;
  height: 30px;
  background-color: lightgreen;
  margin: 0 10px 0 10px;
}


main {
  flex: 1;
  /*margin: 56px 0 0 0;*/
}