.app-login {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: cyan;
}

.loginCard {
    width: 500px;
    height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(211, 211, 211, .5);
}

.loginInput {
    width: 50%;
    padding: 5px;
}

.loginInput:nth-child(2) {
    border-top: 1px solid;
}

.loginSubmit {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(88, 81, 255, .5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.cadastroLink {
    text-decoration: none;
}